# Spring Profiles
SPRING_PROFILES_ACTIVE=prod

# Database
DB_NAME=goaldone
DB_USER=postgres
DB_PASSWORD=

# Domain for Traefik
API_DOMAIN=prototyp-api.goaldone.de
FRONTEND_URL=https://prototyp.goaldone.de

# Security
# Generate a 256-bit key (e.g., openssl rand -base64 32)
JWT_SECRET=
SUPER_ADMINS_FILE=/app/super-admins.yml

CORS_ALLOWED_ORIGINS=*

# Email configuration
SPRING_MAIL_HOST=mail.example.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=noreply@goaldone.de
SPRING_MAIL_PASSWORD=your-email-password
SPRING_MAIL_SSL_TRUST=*
SPRING_MAIL_SSL_CHECK_IDENTITY=false
EMAIL_FROM=noreply@goaldone.de

# Server Config
SERVER_PORT=8080
MANAGEMENT_SERVER_PORT=8081