openapi: 3.0.3
info:
  title: Goaldone API
  description: |
    **Goaldone** – Browserbasiertes Aufgaben-Planungssystem für Organisationen (TINF2024 Projektarbeit).

    ## Authentifizierung
    Die API verwendet JWT Bearer Tokens kombiniert mit einem HttpOnly Cookie für den Refresh Token.
    - **Access Token**: kurzlebig (15 Min.), für jeden API-Aufruf als `Authorization: Bearer <token>` Header mitzusenden
    - **Refresh Token**: langlebig (7 Tage), wird ausschließlich als HttpOnly Cookie (`refresh_token`) übertragen.
      JavaScript-Code kann diesen Token niemals lesen (XSS-Schutz).
      Der Cookie wird nur an `/auth/refresh` und `/auth/logout` gesendet (`Path=/api/v1/auth`, `SameSite=Strict`).
    - Token Rotation: Bei jedem Refresh wird ein neues Refresh Token Cookie ausgestellt, das alte wird invalidiert

    Der JWT enthält folgende Claims:
    - `sub` – UUID des Nutzers
    - `organizationId` – UUID der Organisation (null bei SUPER_ADMIN ohne Org)
    - `role` – Rolle des Nutzers (`SUPER_ADMIN`, `ADMIN`, `USER`)

    ## Rollen (RBAC)
    | Rolle | Beschreibung |
    |---|---|
    | `SUPER_ADMIN` | Plattformweite Verwaltung (Organisationen, Super-Admins) |
    | `ADMIN` | Verwaltung der **eigenen** Organisation (Mitglieder, Einladungen, Einstellungen) |
    | `USER` | Standard-Nutzer mit Zugriff auf eigene Aufgaben und Planung |

    ## Mandantenfähigkeit & Tenant-Isolation
    Goaldone ist eine **mandantenfähige Plattform** (Multi-Tenant). Jede Ressource
    (Tasks, Mitglieder, Einladungen, Einstellungen) ist genau einer Organisation zugeordnet.

    **Die Isolation wird ausschließlich serverseitig durchgesetzt** – niemals durch
    clientseitige Parameter. Konkret bedeutet das:

    - Der Server liest die `organizationId` **immer aus dem JWT**, nicht aus der URL oder dem Request Body.
    - Ein `ADMIN` kann ausschließlich Ressourcen seiner eigenen Organisation lesen und schreiben.
      Ein Zugriff auf eine fremde Organisation ist technisch unmöglich – der Server filtert
      alle DB-Queries automatisch auf `WHERE organization_id = :jwtOrganizationId`.
    - Auch wenn ein ADMIN die UUID einer fremden Organisation kennt, erhält er bei jedem
      Versuch eine `403 Forbidden` Antwort.
    - Nur `SUPER_ADMIN` darf organisationsübergreifend agieren (ausschließlich über `/admin/**`).

    **Endpunkt-Konvention:** Aus diesem Grund verwenden Admin-Endpunkte `/organizations/me/...`
    statt `/organizations/{orgId}/...`. Das `/me` signalisiert explizit, dass die Organisation
    aus dem JWT-Kontext stammt und kein externer Parameter übergeben werden kann.

    ## Team-Vorbereitung
    Tasks sind aktuell benutzerspezifisch (`ownerId` = eingeloggter Nutzer).
    Das `ownerId`-Feld ist bewusst entkoppelt von `userId`, sodass in einer
    späteren Version Teams als Owner eingetragen werden können, ohne das
    Datenmodell zu brechen.

    ## Fehlerformat
    Alle Fehler folgen **RFC 9457 Problem Details** mit Content-Type `application/problem+json`.

    ## Paginierung
    Listenendpunkte unterstützen `?page=0&size=20`. Die Antwort enthält
    immer ein `PageMetadata`-Objekt mit `totalElements` und `totalPages`.

    ## Wiederholungsaufgaben
    Einfaches Modell: `type` (DAILY / WEEKLY / MONTHLY) + `interval` (alle N Einheiten).
    Das Modell ist bewusst so strukturiert, dass es später zu RRULE (iCal-Standard)
    erweitert werden kann, ohne Breaking Changes zu verursachen.

    ## API Versionierung
    Die API-Version ist einmalig im Server-Basispfad definiert (`/api/v1`).
    Alle Endpunkte erben diese Version automatisch. Bei einem Breaking-Change
    wird eine neue Server-URL `/api/v2` hinzugefügt, während `/api/v1` für
    eine Übergangszeit parallel betrieben wird.

  version: 1.0.0
  contact:
    name: TINF2024 Projektteam – Goaldone
    url: https://goaldone.de

servers:
  - url: https://api-prototyp.goaldone.de/api/v1
    description: Produktionsumgebung
  - url: http://localhost:8080/api/v1
    description: Lokale Entwicklungsumgebung

security:
  - bearerAuth: []

tags:
  - name: auth
    description: Authentifizierung und Token-Verwaltung
  - name: users
    description: Eigenes Nutzerprofil verwalten
  - name: organizations
    description: Eigene Organisation abrufen und konfigurieren (Admin)
  - name: members
    description: Mitglieder der Organisation verwalten (Admin)
  - name: invitations
    description: Einladungslinks verwalten (Admin)
  - name: tasks
    description: Aufgaben erstellen, abrufen, bearbeiten und löschen
  - name: working-hours
    description: Wöchentliche Arbeitszeit-Vorlage verwalten
  - name: breaks
    description: Persönliche Pausen konfigurieren
  - name: schedule
    description: Planungsalgorithmus ausführen und Wochenplan abrufen
  - name: recurring-templates
    description: Wiederkehrende Aufgaben-Vorlagen erstellen, abrufen, bearbeiten und löschen
  - name: recurring-schedule
    description: Ausnahmen für einzelne Vorkommen verwalten (verschieben, abschließen, überspringen)
  - name: admin
    description: Super-Admin Funktionen (Organisationen und Super-Admins verwalten)

paths:

  # ════════════════════════════════════════════
  # AUTH
  # ════════════════════════════════════════════

  /auth/login:
    post:
      tags: [auth]
      summary: Login mit E-Mail und Passwort
      description: |
        Gibt den Access Token im Response Body zurück.
        Setzt den Refresh Token als HttpOnly Cookie (nicht im Body).
        Der Cookie ist auf `Path=/api/v1/auth` beschränkt und wird vom Browser
        ausschließlich an `/auth/refresh` und `/auth/logout` mitgesendet.
      security: []
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login erfolgreich
          headers:
            Set-Cookie:
              description: |
                HttpOnly Refresh Token Cookie.
                Format: refresh_token=<token>; HttpOnly; Secure; SameSite=Strict; Path=/api/v1/auth; Max-Age=604800
              schema:
                type: string
                example: "refresh_token=eyJ...; HttpOnly; Secure; SameSite=Strict; Path=/api/v1/auth; Max-Age=604800"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags: [auth]
      summary: Access Token erneuern (Token Rotation)
      description: |
        Liest den Refresh Token aus dem HttpOnly Cookie `refresh_token`.
        Gibt einen neuen Access Token im Body zurück und setzt einen neuen Refresh Token Cookie.
        Der alte Refresh Token Cookie wird serverseitig invalidiert (Token Rotation).
        Kein Request Body erforderlich – der Cookie wird vom Browser automatisch mitgesendet.
      security: []
      operationId: refreshToken
      parameters:
        - in: cookie
          name: refresh_token
          required: true
          schema:
            type: string
          description: "HttpOnly Refresh Token Cookie (wird vom Browser automatisch mitgesendet)"
      responses:
        '200':
          description: Token erfolgreich erneuert
          headers:
            Set-Cookie:
              description: "Neuer Refresh Token Cookie (Token Rotation, ersetzt den alten)"
              schema:
                type: string
                example: "refresh_token=eyJ...; HttpOnly; Secure; SameSite=Strict; Path=/api/v1/auth; Max-Age=604800"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [auth]
      summary: Logout – Refresh Token invalidieren
      description: |
        Liest den Refresh Token aus dem HttpOnly Cookie und invalidiert ihn serverseitig.
        Löscht den Cookie durch Setzen von Max-Age=0.
        Kein Request Body erforderlich – der Cookie wird vom Browser automatisch mitgesendet.
      operationId: logout
      parameters:
        - in: cookie
          name: refresh_token
          required: true
          schema:
            type: string
          description: "HttpOnly Refresh Token Cookie (wird vom Browser automatisch mitgesendet)"
      responses:
        '204':
          description: Erfolgreich ausgeloggt
          headers:
            Set-Cookie:
              description: "Löscht den Refresh Token Cookie (Max-Age=0)"
              schema:
                type: string
                example: "refresh_token=; HttpOnly; Secure; SameSite=Strict; Path=/api/v1/auth; Max-Age=0"

  /auth/password/change:
    post:
      tags: [auth]
      summary: Passwort ändern
      operationId: changePassword
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePasswordRequest'
      responses:
        '204':
          description: Passwort erfolgreich geändert
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/invitations/{token}:
    get:
      tags: [auth, invitations]
      summary: Informationen zu einem Einladungstoken abrufen
      description: |
        Öffentlicher Endpunkt (kein JWT erforderlich).
        Gibt die E-Mail-Adresse zurück, die mit dem Token verknüpft ist.
        Wird genutzt, um das Registrierungsformular vorauszufüllen.
      security: []
      operationId: getInvitationInfo
      parameters:
        - name: token
          in: path
          required: true
          description: UUID-Token aus dem Einladungslink
          schema:
            type: string
      responses:
        '200':
          description: Token gültig, E-Mail wird zurückgegeben
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationTokenInfoResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          description: Einladungslink abgelaufen oder bereits verwendet
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

  /auth/invitations/{token}/accept:
    post:
      tags: [auth, invitations]
      summary: Einladung annehmen und Account erstellen
      description: |
        Öffentlicher Endpunkt (kein JWT erforderlich).
        Der Nutzer setzt sein Passwort und wird direkt eingeloggt.
        Der Einladungstoken ist 48 Stunden gültig.
      security: []
      operationId: acceptInvitation
      parameters:
        - name: token
          in: path
          required: true
          description: UUID-Token aus dem Einladungslink
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptInvitationRequest'
      responses:
        '201':
          description: Account erstellt, direkt eingeloggt
          headers:
            Set-Cookie:
              description: "HttpOnly Refresh Token Cookie (identisch mit Login-Endpunkt)"
              schema:
                type: string
                example: "refresh_token=eyJ...; HttpOnly; Secure; SameSite=Strict; Path=/api/v1/auth; Max-Age=604800"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '410':
          description: Einladungslink abgelaufen oder bereits verwendet
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

  # ════════════════════════════════════════════
  # USERS (eigenes Profil)
  # ════════════════════════════════════════════

  /users/me:
    get:
      tags: [users]
      summary: Eigenes Profil abrufen
      operationId: getMyProfile
      responses:
        '200':
          description: Eigenes Nutzerprofil
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      tags: [users]
      summary: Eigenes Profil aktualisieren
      operationId: updateMyProfile
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: Profil aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    delete:
      tags: [users]
      summary: Eigenen Account löschen (Hard Delete)
      description: |
        Löscht den eigenen Account inklusive aller zugehörigen Daten (Tasks, Breaks, Schedule-Einträge).

        **Einschränkungen:**
        - `SUPER_ADMIN` kann sich nicht selbst löschen (`403 Forbidden`).
        - Ein `ADMIN`, der der letzte Admin seiner Organisation ist, kann sich nicht selbst löschen (`409 Conflict`).
          Es muss mindestens ein weiterer Admin in der Organisation verbleiben.
      operationId: deleteMyAccount
      responses:
        '204':
          description: Account und alle zugehörigen Daten gelöscht (Tasks, Breaks, Schedule-Einträge, Refresh-Tokens)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: SUPER_ADMIN darf sich nicht selbst löschen
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
              example:
                type: "https://goaldone.de/problems/forbidden"
                title: "Forbidden"
                status: 403
                detail: "super-admin-cannot-delete-self"
                instance: "/api/v1/users/me"
        '409':
          description: Letzter Admin der Organisation kann sich nicht selbst löschen
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
              example:
                type: "https://goaldone.de/problems/conflict"
                title: "Conflict"
                status: 409
                detail: "last-admin-cannot-delete-self"
                instance: "/api/v1/users/me"

  # ════════════════════════════════════════════
  # ORGANIZATION (Admin)
  # ════════════════════════════════════════════

  /organizations/me:
    get:
      tags: [organizations]
      summary: Eigene Organisation abrufen
      operationId: getMyOrganization
      responses:
        '200':
          description: Organisationsdaten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /organizations/me/settings:
    put:
      tags: [organizations]
      summary: Organisationseinstellungen aktualisieren
      description: Nur für Nutzer mit Rolle ADMIN oder höher.
      operationId: updateOrganizationSettings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationSettingsRequest'
      responses:
        '200':
          description: Einstellungen aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ════════════════════════════════════════════
  # MEMBERS (Admin)
  # ════════════════════════════════════════════

  /organizations/me/members:
    get:
      tags: [members]
      summary: Alle Mitglieder der Organisation auflisten
      description: Nur für Nutzer mit Rolle ADMIN oder höher.
      operationId: listMembers
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Paginierte Mitgliederliste
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /organizations/me/members/{userId}:
    delete:
      tags: [members]
      summary: Mitglied aus der Organisation entfernen (Hard Delete)
      description: |
        Entfernt ein Mitglied vollständig aus dem System.
        Durch Datenbank-Kaskaden werden dabei automatisch gelöscht:
        - Alle Tasks des Mitglieds
        - Alle Breaks des Mitglieds
        - Alle Schedule-Einträge des Mitglieds
        - Alle Refresh-Tokens des Mitglieds

        Nur für Nutzer mit Rolle `ADMIN` oder höher.

        **Einschränkung:** Der letzte `ADMIN` einer Organisation kann nicht entfernt werden (`409 Conflict`).
        Es muss mindestens ein Admin in der Organisation verbleiben.
      operationId: removeMember
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      responses:
        '204':
          description: Mitglied und alle zugehörigen Daten gelöscht
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Letzter Admin der Organisation kann nicht entfernt werden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
              example:
                type: "https://goaldone.de/problems/conflict"
                title: "Conflict"
                status: 409
                detail: "last-admin-cannot-be-removed"
                instance: "/api/v1/organizations/me/members/123e4567-e89b-12d3-a456-426614174000"

  /organizations/me/members/{userId}/role:
    patch:
      tags: [members]
      summary: Rolle eines Mitglieds ändern
      description: Nur für Nutzer mit Rolle ADMIN oder höher.
      operationId: updateMemberRole
      parameters:
        - $ref: '#/components/parameters/UserIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMemberRoleRequest'
      responses:
        '200':
          description: Rolle aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemberResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ════════════════════════════════════════════
  # INVITATIONS (Admin)
  # ════════════════════════════════════════════

  /organizations/me/invitations:
    get:
      tags: [invitations]
      summary: Offene Einladungen auflisten
      description: Nur für Nutzer mit Rolle ADMIN oder höher.
      operationId: listInvitations
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Paginierte Liste offener Einladungen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags: [invitations]
      summary: Einladung per E-Mail versenden
      description: |
        Sendet eine Einladungs-E-Mail mit einem Einmal-Token-Link an die angegebene Adresse.
        Der Token ist 48 Stunden gültig.
        Nur für Nutzer mit Rolle ADMIN oder höher.
      operationId: createInvitation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInvitationRequest'
      responses:
        '201':
          description: Einladung erstellt und E-Mail versendet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvitationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Nutzer ist bereits Mitglied oder eine offene Einladung existiert bereits
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

  /organizations/me/invitations/{invitationId}:
    delete:
      tags: [invitations]
      summary: Einladung widerrufen
      description: Invalidiert den Einladungslink. Nur für Nutzer mit Rolle ADMIN oder höher.
      operationId: revokeInvitation
      parameters:
        - name: invitationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Einladung widerrufen
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ════════════════════════════════════════════
  # TASKS
  # ════════════════════════════════════════════

  /tasks:
    get:
      tags: [tasks]
      summary: Eigene Tasks auflisten
      description: |
        Gibt paginiert alle Tasks des eingeloggten Nutzers zurück.
        Filterbar nach Status und Deadline-Zeitraum.
      operationId: listTasks
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
        - name: status
          in: query
          description: Nur Tasks mit diesem Status zurückgeben
          schema:
            $ref: '#/components/schemas/TaskStatus'
        - name: from
          in: query
          description: Nur Tasks mit Deadline ab diesem Datum (ISO 8601 Date)
          schema:
            type: string
            format: date
            example: "2026-04-01"
        - name: to
          in: query
          description: Nur Tasks mit Deadline bis zu diesem Datum (ISO 8601 Date)
          schema:
            type: string
            format: date
            example: "2026-04-30"
      responses:
        '200':
          description: Paginierte Task-Liste
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskPage'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [tasks]
      summary: Neuen Task erstellen
      description: |
        Erstellt einen neuen Task für den eingeloggten Nutzer.
        Wenn `estimatedDurationMinutes` > 480 (8h), wird empfohlen, den Task zu splitten
        – dies kann entweder clientseitig angeboten oder serverseitig automatisch erfolgen.

        **Einschränkung:** `SUPER_ADMIN`-Nutzer dürfen keine Tasks erstellen (`403 Forbidden`).
        Tasks können ausschließlich von `USER`- und `ADMIN`-Nutzern angelegt werden.
      operationId: createTask
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
      responses:
        '201':
          description: Task erfolgreich erstellt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: SUPER_ADMIN darf keine Tasks erstellen
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
              example:
                type: "https://goaldone.de/problems/forbidden"
                title: "Forbidden"
                status: 403
                detail: "super-admin-cannot-create-tasks"
                instance: "/api/v1/tasks"

  /tasks/{taskId}:
    get:
      tags: [tasks]
      summary: Einzelnen Task abrufen
      operationId: getTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      responses:
        '200':
          description: Task-Details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [tasks]
      summary: Task vollständig aktualisieren
      operationId: updateTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTaskRequest'
      responses:
        '200':
          description: Task aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [tasks]
      summary: Task löschen (Hard Delete)
      operationId: deleteTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      responses:
        '204':
          description: Task gelöscht
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /tasks/{taskId}/complete:
    patch:
      tags: [tasks]
      summary: Task global als erledigt markieren (Backlog-Ansicht)
      description: |
        Setzt den Status des Tasks auf `DONE` und setzt `completedAt`.

        Einmalige Tasks können hierüber dauerhaft als erledigt markiert werden.
        Für wiederkehrende Aufgaben existiert kein `Task`-Objekt mehr –
        einzelne Vorkommen werden über
        `POST /schedule/recurring/{templateId}/exceptions` mit `type: COMPLETED` abgehakt.

        Dieser Endpunkt ist primär für die **Backlog-Ansicht** gedacht
        (z.B. um einen Task manuell zu schließen, ohne ihn im Tagesplan abzuhaken).
      operationId: completeTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      responses:
        '200':
          description: Task als erledigt markiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Task ist bereits erledigt
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

  /tasks/{taskId}/reopen:
    patch:
      tags: [tasks]
      summary: Erledigten Task wieder öffnen
      description: Setzt den Status des Tasks von DONE zurück auf OPEN.
      operationId: reopenTask
      parameters:
        - $ref: '#/components/parameters/TaskIdParam'
      responses:
        '200':
          description: Task wieder geöffnet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Task ist nicht erledigt
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

  # ════════════════════════════════════════════
  # WORKING HOURS
  # ════════════════════════════════════════════

  /users/me/working-hours:
    get:
      tags: [working-hours]
      summary: Eigene Arbeitszeit-Vorlage abrufen
      description: |
        Gibt die wöchentliche Arbeitszeit-Vorlage des eingeloggten Nutzers zurück.
        Die Vorlage enthält für jeden Wochentag (Mo–So) einen Eintrag mit Start-/Endzeit
        oder die Markierung als arbeitsfreier Tag.

        Falls noch keine Vorlage gespeichert wurde, wird `404` zurückgegeben.
      operationId: getWorkingHours
      responses:
        '200':
          description: Arbeitszeit-Vorlage des Nutzers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkingHoursResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [working-hours]
      summary: Eigene Arbeitszeit-Vorlage speichern oder ersetzen
      description: |
        Speichert die wöchentliche Arbeitszeit-Vorlage des eingeloggten Nutzers vollständig.
        Eine bestehende Vorlage wird dabei atomar ersetzt – es gibt keinen Teilupdate.

        **Regeln:**
        - Das Array `days` muss **alle 7 Wochentage** (Mo–So) enthalten, jeder genau einmal.
        - Für Arbeitstage (`isWorkDay: true`) sind `startTime` und `endTime` **Pflichtfelder**.
        - Für freie Tage (`isWorkDay: false`) werden `startTime` und `endTime` ignoriert bzw.
          müssen nicht angegeben werden.
        - `endTime` muss nach `startTime` liegen (Validierung serverseitig).
        - Pausen werden **separat** über `/breaks` konfiguriert und nicht hier eingetragen.

        Der Planungsalgorithmus (`/schedule/generate`) nutzt diese Vorlage automatisch,
        um den täglichen Arbeitsrahmen zu bestimmen.
      operationId: upsertWorkingHours
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertWorkingHoursRequest'
            example:
              days:
                - dayOfWeek: MONDAY
                  isWorkDay: true
                  startTime: "08:00"
                  endTime: "16:00"
                - dayOfWeek: TUESDAY
                  isWorkDay: true
                  startTime: "08:00"
                  endTime: "16:00"
                - dayOfWeek: WEDNESDAY
                  isWorkDay: true
                  startTime: "08:00"
                  endTime: "16:00"
                - dayOfWeek: THURSDAY
                  isWorkDay: true
                  startTime: "08:00"
                  endTime: "16:00"
                - dayOfWeek: FRIDAY
                  isWorkDay: true
                  startTime: "09:00"
                  endTime: "12:00"
                - dayOfWeek: SATURDAY
                  isWorkDay: false
                - dayOfWeek: SUNDAY
                  isWorkDay: false
      responses:
        '200':
          description: Arbeitszeit-Vorlage gespeichert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkingHoursResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ════════════════════════════════════════════
  # BREAKS
  # ════════════════════════════════════════════

  /breaks:
    get:
      tags: [breaks]
      summary: Eigene Pausen abrufen
      description: |
        Erstellt eine neue Pause. Das Verhalten hängt vom `breakType` ab:
        - `ONE_TIME` – einmalig an `date`, keine Wiederholung.
        - `RECURRING` – wiederkehrend ohne Enddatum.
        - `BOUNDED_RECURRING` – wiederkehrend nur zwischen `validFrom` und `validUntil`.
        
        Der Planungsalgorithmus berücksichtigt die Pause ab dem nächsten
        `POST /schedule/generate` automatisch als Budgetabzug.
      operationId: listBreaks
      responses:
        '200':
          description: Pausenliste
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BreakResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [breaks]
      summary: Neue Pause erstellen
      operationId: createBreak
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBreakRequest'
      responses:
        '201':
          description: Pause erstellt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreakResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /breaks/{breakId}:
    put:
      tags: [breaks]
      summary: Pause aktualisieren
      operationId: updateBreak
      description: |
        Ersetzt eine Pause vollständig (PUT-Semantik). `breakType` kann geändert werden –
        dabei müssen alle Felder des neuen Typs gesetzt und die alten auf null gesetzt werden.
      parameters:
        - $ref: '#/components/parameters/BreakIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBreakRequest'
      responses:
        '200':
          description: Pause aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreakResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [breaks]
      summary: Pause löschen (Hard Delete)
      operationId: deleteBreak
      parameters:
        - $ref: '#/components/parameters/BreakIdParam'
      responses:
        '204':
          description: Pause gelöscht
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ════════════════════════════════════════════
  # SCHEDULE / PLANNING
  # ════════════════════════════════════════════

  /schedule:
    get:
      tags: [schedule]
      summary: Aktuellen Plan für einen Zeitraum abrufen
      description: |
        Gibt den Plan für den angegebenen Zeitraum als **unified Response** zurück.
        Die Antwort enthält zwei Arten von Einträgen, erkennbar am `source`-Feld:

        - `source: ONE_TIME` – echte `ScheduleEntry`-Objekte aus der Datenbank
          (einmalige Tasks). Das Feld `entryId` ist gesetzt und wird für
          PATCH-Aktionen (complete, pin, unpin) benötigt.

        - `source: RECURRING` – virtuelle Vorkommen, server-seitig on-the-fly
          aus `RecurringTemplate`-Regeln berechnet. Kein DB-Eintrag –
          stattdessen sind `templateId` und `occurrenceDate` gesetzt.
          Aktionen über `POST /schedule/recurring/{templateId}/exceptions`.

        Beide Typen werden nach Datum und Uhrzeit sortiert zurückgegeben.
      operationId: getSchedule
      parameters:
        - name: from
          in: query
          required: true
          description: Startdatum (ISO 8601)
          schema:
            type: string
            format: date
            example: "2026-04-07"
        - name: to
          in: query
          required: true
          description: Enddatum (ISO 8601)
          schema:
            type: string
            format: date
            example: "2026-04-11"
      responses:
        '200':
          description: Wochenplan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /schedule/generate:
    post:
      tags: [schedule]
      summary: Planungsalgorithmus ausführen – dynamischer Horizont (synchron)
      description: |
        Führt den Planungsalgorithmus **dynamisch** synchron aus.
        Der Server antwortet erst, wenn der Plan vollständig generiert ist.

        **Dynamischer Planungshorizont:**
        Der Algorithmus startet am `from`-Datum und plant einmalige Tasks Tag für Tag
        vorwärts, bis der Pool leer ist. Das Enddatum (`to` in der Response) ergibt
        sich automatisch aus dem letzten belegten Tag.

        **Was der Algorithmus plant (und was nicht):**
        - **Einmalige Tasks**: werden nach MSTF sortiert und in
          verfügbare Zeitslots eingeplant. Erzeugen echte `ScheduleEntry`-Objekte
          in der DB (`source: ONE_TIME`).
        - **RecurringTemplates**: werden **nicht** eingeplant und erzeugen **keine**
          ScheduleEntries. Ihre Dauer pro Tag wird als fixer Budgetabzug behandelt.
          Vorkommen erscheinen in `GET /schedule` als virtuelle Einträge
          (`source: RECURRING`) on-the-fly berechnet.

        **Sortierung – Minimum Slack Time First (MSTF):**
        Pro Tag: `Slack = workdaysBetween(heute, deadline) - ceil(restDauer / maxDailyWorkMinutes)`.
        Sortierung aufsteigend, Tiebreaker: `cognitiveLoad` HIGH zuerst.
        Tasks ohne Deadline: Slack = ∞, werden ans Ende sortiert.

        **Budgetabzug pro Tag:**
        `maxDailyWorkMinutes` wird reduziert durch: Completed Entries, Pinned Entries,
        konfigurierte Pausen und RecurringTemplates (außer Vorkommen mit Exception `SKIPPED`).

        **Selektives Löschen:**
        Beim erneuten Generieren werden nur offene, ungepinnte `ScheduleEntries` ab
        `from` gelöscht. Completed und Pinned Entries bleiben erhalten.

        **Pre-Flight Check:**
        Fehlen WorkingHours, wird sofort mit `400 working-hours-missing` abgebrochen.
      operationId: generateSchedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateScheduleRequest'
      responses:
        '200':
          description: Plan erfolgreich generiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
        '400':
          description: |
            Ungültige Anfrage. Mögliche Ursachen (erkennbar am `detail`-Feld):
            - `"working-hours-missing"` – Der Nutzer hat noch keine Arbeitszeiten konfiguriert.
              Das Frontend soll den Nutzer zu `PUT /users/me/working-hours` weiterleiten.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
              examples:
                working-hours-missing:
                  summary: Keine Arbeitszeiten konfiguriert
                  value:
                    type: "https://goaldone.de/problems/bad-request"
                    title: "Bad Request"
                    status: 400
                    detail: "working-hours-missing"
                    instance: "/api/v1/schedule/generate"
        '401':
          $ref: '#/components/responses/Unauthorized'

  /schedule/{entryId}/complete:
    patch:
      tags: [schedule]
      summary: Einmaligen Kalenderblock als erledigt markieren
      description: |
        Markiert einen **einmaligen** `ScheduleEntry` (`source: ONE_TIME`) als erledigt
        (`isCompleted = true`).

        **Nur für einmalige Tasks (`source: ONE_TIME`).**
        Für wiederkehrende Vorkommen (`source: RECURRING`) stattdessen
        `POST /schedule/recurring/{templateId}/exceptions` mit `type: COMPLETED` verwenden.

        Erledigte Blöcke werden beim erneuten Ausführen des Planungsalgorithmus
        nicht gelöscht und zählen als fixer Budgetabzug für ihren Tag.
      operationId: completeScheduleEntry
      parameters:
        - $ref: '#/components/parameters/EntryIdParam'
      responses:
        '200':
          description: Kalenderblock als erledigt markiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Kalenderblock ist bereits erledigt
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
              example:
                type: "https://goaldone.de/problems/conflict"
                title: "Conflict"
                status: 409
                detail: "schedule-entry-already-completed"
                instance: "/api/v1/schedule/3fa85f64-5717-4562-b3fc-2c963f66afa6/complete"

  /schedule/{entryId}/pin:
    patch:
      tags: [schedule]
      summary: Einmaligen Kalenderblock fixieren (pinnen)
      description: |
        Setzt `isPinned = true` auf einem **einmaligen** `ScheduleEntry` (`source: ONE_TIME`).

        **Nur für einmalige Tasks (`source: ONE_TIME`).**
        Für wiederkehrende Vorkommen (`source: RECURRING`) stattdessen
        `POST /schedule/recurring/{templateId}/exceptions` mit `type: PINNED` verwenden.

        Gepinnte Blöcke werden beim erneuten Ausführen des Algorithmus nicht
        überschrieben und zählen als fixer Budgetabzug. Ermöglicht manuelles
        Verschieben via Drag & Drop. Entpinnen über `PATCH /schedule/{entryId}/unpin`.
      operationId: pinScheduleEntry
      parameters:
        - $ref: '#/components/parameters/EntryIdParam'
      responses:
        '200':
          description: Kalenderblock gepinnt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Kalenderblock ist bereits gepinnt
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
              example:
                type: "https://goaldone.de/problems/conflict"
                title: "Conflict"
                status: 409
                detail: "schedule-entry-already-pinned"
                instance: "/api/v1/schedule/3fa85f64-5717-4562-b3fc-2c963f66afa6/pin"

  /schedule/{entryId}/unpin:
    patch:
      tags: [schedule]
      summary: Fixierung eines Kalenderblocks aufheben
      description: |
        Setzt `isPinned = false` auf einem `ScheduleEntry`.
        Der Block kann beim nächsten Ausführen des Planungsalgorithmus
        wieder überschrieben oder verschoben werden.
      operationId: unpinScheduleEntry
      parameters:
        - $ref: '#/components/parameters/EntryIdParam'
      responses:
        '200':
          description: Fixierung aufgehoben
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Kalenderblock ist nicht gepinnt
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
              example:
                type: "https://goaldone.de/problems/conflict"
                title: "Conflict"
                status: 409
                detail: "schedule-entry-not-pinned"
                instance: "/api/v1/schedule/3fa85f64-5717-4562-b3fc-2c963f66afa6/unpin"

  # ════════════════════════════════════════════
  # RECURRING TEMPLATES
  # ════════════════════════════════════════════

  /recurring-templates:
    get:
      tags: [recurring-templates]
      summary: Alle eigenen RecurringTemplates auflisten
      description: |
        Gibt alle wiederkehrenden Aufgaben-Vorlagen des eingeloggten Nutzers zurück.
        RecurringTemplates sind unabhängig von Tasks – sie repräsentieren Aufgaben,
        die regelmäßig anfallen (z.B. tägliches Stand-up, wöchentlicher Review).
        Vorkommen erscheinen in `GET /schedule` als virtuelle Einträge
        (`source: RECURRING`) und werden nie als ScheduleEntries persistiert.
      operationId: listRecurringTemplates
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Paginierte Liste aller RecurringTemplates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringTemplatePage'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [recurring-templates]
      summary: Neues RecurringTemplate erstellen
      description: |
        Erstellt eine neue wiederkehrende Aufgaben-Vorlage.
        Ab dem nächsten `POST /schedule/generate` wird die Dauer des Templates
        täglich als Budgetabzug berücksichtigt. In `GET /schedule` erscheinen
        die Vorkommen automatisch als virtuelle Einträge (`source: RECURRING`).
      operationId: createRecurringTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRecurringTemplateRequest'
      responses:
        '201':
          description: RecurringTemplate erstellt
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringTemplateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /recurring-templates/{templateId}:
    get:
      tags: [recurring-templates]
      summary: Einzelnes RecurringTemplate abrufen
      operationId: getRecurringTemplate
      parameters:
        - $ref: '#/components/parameters/TemplateIdParam'
      responses:
        '200':
          description: RecurringTemplate-Details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringTemplateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [recurring-templates]
      summary: RecurringTemplate vollständig aktualisieren
      description: |
        Aktualisiert Titel, Dauer, Cognitive Load, Recurrence-Regel oder Startzeit.
        Bestehende `RecurringExceptions` bleiben erhalten und beziehen sich
        weiterhin auf ihre `occurrenceDate`-Einträge.
      operationId: updateRecurringTemplate
      parameters:
        - $ref: '#/components/parameters/TemplateIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRecurringTemplateRequest'
      responses:
        '200':
          description: RecurringTemplate aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringTemplateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [recurring-templates]
      summary: RecurringTemplate löschen (Hard Delete)
      description: |
        Löscht das RecurringTemplate dauerhaft inklusive aller zugehörigen
        `RecurringExceptions` (Kaskade). Ab dem nächsten `POST /schedule/generate`
        entfällt der Budgetabzug für dieses Template.
      operationId: deleteRecurringTemplate
      parameters:
        - $ref: '#/components/parameters/TemplateIdParam'
      responses:
        '204':
          description: RecurringTemplate und alle zugehörigen Exceptions gelöscht
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ════════════════════════════════════════════
  # RECURRING SCHEDULE EXCEPTIONS
  # ════════════════════════════════════════════

  /schedule/recurring/{templateId}/exceptions:
    post:
      tags: [recurring-schedule]
      summary: Ausnahme für ein RecurringTemplate-Vorkommen anlegen
      description: |
        Legt eine `RecurringException` für ein einzelnes Vorkommen an (Upsert-Semantik).
        Mögliche Typen:
        - `COMPLETED` – Vorkommen abgehakt. Bleibt als Budgetabzug beim Algorithmus.
        - `PINNED` – Vorkommen fixiert. Erscheint mit `isPinned: true`.
        - `SKIPPED` – Vorkommen übersprungen. Kein Budgetabzug beim Algorithmus
          (mehr Budget für einmalige Tasks an diesem Tag).
        - `RESCHEDULED` – Vorkommen verschoben auf `newDate`/`newStartTime`.
          Budgetabzug bleibt am ursprünglichen Tag erhalten.

        Pro `(templateId, occurrenceDate)` existiert maximal eine Exception.
        Ein erneuter POST überschreibt die bestehende Exception.
      operationId: createRecurringException
      parameters:
        - name: templateId
          in: path
          required: true
          description: UUID des RecurringTemplate
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecurringExceptionRequest'
      responses:
        '200':
          description: Exception angelegt oder aktualisiert
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringExceptionResponse'
        '400':
          description: |
            Ungültige Anfrage:
            - `"missing-new-date"` – type RESCHEDULED erfordert `newDate`
            - `"missing-new-start-time"` – type RESCHEDULED erfordert `newStartTime`
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /schedule/recurring/{templateId}/exceptions/{occurrenceDate}:
    delete:
      tags: [recurring-schedule]
      summary: Ausnahme eines Vorkommens entfernen (Undo)
      description: |
        Löscht die `RecurringException` – das Vorkommen kehrt zum Normalzustand zurück.
        - `COMPLETED` → erscheint wieder als offen
        - `PINNED` → nicht mehr fixiert
        - `SKIPPED` → erscheint wieder im Plan
        - `RESCHEDULED` → erscheint wieder am ursprünglichen Datum/Zeit
      operationId: deleteRecurringException
      parameters:
        - name: templateId
          in: path
          required: true
          description: UUID des RecurringTemplate
          schema:
            type: string
            format: uuid
        - name: occurrenceDate
          in: path
          required: true
          description: Datum des Vorkommens (ISO 8601)
          schema:
            type: string
            format: date
            example: "2026-04-07"
      responses:
        '204':
          description: Exception gelöscht, Vorkommen zurückgesetzt
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ════════════════════════════════════════════
  # SUPER-ADMIN
  # ════════════════════════════════════════════

  /admin/organizations:
    get:
      tags: [admin]
      summary: Alle Organisationen auflisten (Super-Admin)
      operationId: listOrganizations
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Paginierte Organisationsliste
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags: [admin]
      summary: Neue Organisation anlegen (Super-Admin)
      description: |
        Legt eine neue Organisation an und sendet eine Einladungs-E-Mail
        an die angegebene Admin-E-Mail-Adresse.
      operationId: createOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationRequest'
      responses:
        '201':
          description: Organisation erstellt, Einladungs-E-Mail an Admin versendet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Organisation mit diesem Namen existiert bereits
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'

  /admin/organizations/{orgId}:
    delete:
      tags: [admin]
      summary: Organisation löschen (Super-Admin, Hard Delete)
      description: |
        Löscht eine Organisation vollständig und unwiderruflich.

        **Kaskadierendes Löschen** – folgende Daten werden automatisch mitgelöscht:
        - Alle Mitglieder der Organisation (User-Accounts)
        - Alle Tasks aller Mitglieder
        - Alle Breaks aller Mitglieder
        - Alle Schedule-Einträge aller Mitglieder
        - Alle offenen Einladungen der Organisation
        - Alle Refresh-Tokens der Mitglieder

        Nur für Nutzer mit Rolle `SUPER_ADMIN`.
      operationId: deleteOrganization
      parameters:
        - name: orgId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Organisation und alle zugehörigen Daten (Mitglieder, Tasks, Breaks, Schedules) gelöscht
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/super-admins:
    get:
      tags: [admin]
      summary: Alle Super-Admins auflisten (Super-Admin)
      operationId: listSuperAdmins
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/SizeParam'
      responses:
        '200':
          description: Paginierte Liste der Super-Admins
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperAdminPage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags: [admin]
      summary: Neuen Super-Admin einladen (Super-Admin)
      description: |
        Sendet eine Einladungs-E-Mail an die angegebene Adresse.
        Der Eingeladene erhält die Rolle SUPER_ADMIN ohne Organisationszugehörigkeit.
        Kein bestehender Account erforderlich.
      operationId: addSuperAdmin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddSuperAdminRequest'
      responses:
        '201':
          description: Einladung erstellt und E-Mail versendet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuperAdminInvitationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Eine offene Einladung oder ein Account für diese E-Mail existiert bereits
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
              example:
                type: "https://goaldone.de/problems/conflict"
                title: "Conflict"
                status: 409
                detail: "super-admin-invitation-already-exists"
                instance: "/api/v1/admin/super-admins"

  /admin/super-admins/{superAdminId}:
    delete:
      tags: [admin]
      summary: Super-Admin entfernen (Super-Admin, Hard Delete)
      description: |
        Löscht einen anderen Super-Admin vollständig aus dem System inklusive aller zugehörigen Daten.

        **Einschränkung:** Ein Super-Admin kann sich nicht selbst löschen.
        Wenn `superAdminId` der eigenen `sub`-Claim aus dem JWT entspricht, wird der Request mit `403 Forbidden` abgelehnt.

        Nur für Nutzer mit Rolle `SUPER_ADMIN`.
      operationId: deleteSuperAdmin
      parameters:
        - name: superAdminId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: UUID des zu löschenden Super-Admins (darf nicht die eigene UUID sein)
      responses:
        '204':
          description: Super-Admin und alle zugehörigen Daten erfolgreich gelöscht
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Keine Berechtigung – entweder unzureichende Rolle oder Selbstlöschungsversuch
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
              example:
                type: "https://goaldone.de/problems/forbidden"
                title: "Forbidden"
                status: 403
                detail: "super-admin-cannot-delete-self"
                instance: "/api/v1/admin/super-admins/123e4567-e89b-12d3-a456-426614174000"
        '404':
          $ref: '#/components/responses/NotFound'

# ════════════════════════════════════════════
# COMPONENTS
# ════════════════════════════════════════════

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "JWT Access Token. Format: Authorization: Bearer <token>"

    cookieAuth:
      type: apiKey
      in: cookie
      name: refresh_token
      description: "HttpOnly Refresh Token Cookie. Wird ausschließlich von /auth/refresh und /auth/logout verwendet."

  parameters:
    PageParam:
      name: page
      in: query
      description: Seitennummer (0-basiert)
      schema:
        type: integer
        default: 0
        minimum: 0
      example: 0

    SizeParam:
      name: size
      in: query
      description: Anzahl Einträge pro Seite
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
      example: 20

    TaskIdParam:
      name: taskId
      in: path
      required: true
      description: UUID des Tasks
      schema:
        type: string
        format: uuid

    BreakIdParam:
      name: breakId
      in: path
      required: true
      description: UUID der Pause
      schema:
        type: string
        format: uuid

    EntryIdParam:
      name: entryId
      in: path
      required: true
      description: UUID des ScheduleEntry (Kalenderblocks)
      schema:
        type: string
        format: uuid

    TemplateIdParam:
      name: templateId
      in: path
      required: true
      description: UUID des RecurringTemplate
      schema:
        type: string
        format: uuid

    UserIdParam:
      name: userId
      in: path
      required: true
      description: UUID des Nutzers
      schema:
        type: string
        format: uuid

  responses:
    BadRequest:
      description: Ungültige Anfrage (Validierungsfehler)
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
          example:
            type: "https://goaldone.de/problems/validation-error"
            title: "Validation Error"
            status: 400
            detail: "Das Feld 'title' darf nicht leer sein."
            instance: "/api/v1/tasks"

    Unauthorized:
      description: Nicht authentifiziert – JWT fehlt oder ist ungültig/abgelaufen
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
          example:
            type: "https://goaldone.de/problems/unauthorized"
            title: "Unauthorized"
            status: 401
            detail: "JWT Token ist abgelaufen."
            instance: "/api/v1/tasks"

    Forbidden:
      description: Keine Berechtigung – Rolle reicht nicht aus
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
          example:
            type: "https://goaldone.de/problems/forbidden"
            title: "Forbidden"
            status: 403
            detail: "Diese Aktion erfordert die Rolle ADMIN."
            instance: "/api/v1/organizations/me/members"

    NotFound:
      description: Ressource nicht gefunden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
          example:
            type: "https://goaldone.de/problems/not-found"
            title: "Not Found"
            status: 404
            detail: "Task mit ID 'abc123' wurde nicht gefunden."
            instance: "/api/v1/tasks/abc123"

    Conflict:
      description: Konflikt – Geschäftsregel verhindert die Operation
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
          example:
            type: "https://goaldone.de/problems/conflict"
            title: "Conflict"
            status: 409
            detail: "last-admin-cannot-delete-self"
            instance: "/api/v1/users/me"

  schemas:

    # ── RFC 9457 Problem Details ──────────────────────────

    ProblemDetail:
      type: object
      description: Fehlerantwort nach RFC 9457 (Problem Details for HTTP APIs)
      properties:
        type:
          type: string
          format: uri
          description: URI, die den Fehlertyp eindeutig identifiziert
          example: "https://goaldone.de/problems/validation-error"
        title:
          type: string
          description: Kurze, menschenlesbare Fehlerbeschreibung
          example: "Validation Error"
        status:
          type: integer
          description: HTTP Status Code
          example: 400
        detail:
          type: string
          description: Detaillierte Fehlermeldung für diesen spezifischen Aufruf
          example: "Das Feld 'title' darf nicht leer sein."
        instance:
          type: string
          format: uri
          description: URI des Endpunkts, der den Fehler verursacht hat
          example: "/api/v1/tasks"
        errors:
          type: array
          description: Feldspezifische Validierungsfehler (nur bei 400 Bad Request)
          items:
            $ref: '#/components/schemas/FieldError'
      required: [type, title, status, detail, instance]

    FieldError:
      type: object
      description: Validierungsfehler für ein einzelnes Feld
      properties:
        field:
          type: string
          example: "title"
        message:
          type: string
          example: "Darf nicht leer sein"
      required: [field, message]

    # ── Auth ──────────────────────────────────────────────

    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          example: "max.mustermann@firma.de"
        password:
          type: string
          format: password
          example: "SuperSecret123!"
      required: [email, password]

    LoginResponse:
      type: object
      properties:
        accessToken:
          type: string
          description: "JWT Access Token, gültig 15 Minuten"
        user:
          $ref: '#/components/schemas/UserResponse'
      required: [accessToken, user]

    RefreshResponse:
      type: object
      properties:
        accessToken:
          type: string
          description: "Neuer JWT Access Token, gültig 15 Minuten"
      required: [accessToken]

    ChangePasswordRequest:
      type: object
      properties:
        currentPassword:
          type: string
          format: password
        newPassword:
          type: string
          format: password
          minLength: 8
      required: [currentPassword, newPassword]

    AcceptInvitationRequest:
      type: object
      properties:
        firstName:
          type: string
          example: "Max"
        lastName:
          type: string
          example: "Mustermann"
        password:
          type: string
          format: password
          minLength: 8
      required: [firstName, lastName, password]

    InvitationTokenInfoResponse:
      type: object
      properties:
        email:
          type: string
          format: email
          example: "max.mustermann@firma.de"
      required: [email]

    # ── User ──────────────────────────────────────────────

    UserResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        role:
          $ref: '#/components/schemas/Role'
        organizationId:
          type: string
          format: uuid
          nullable: true
          description: "Null bei Super-Admins ohne Organisationszugehörigkeit"
        createdAt:
          type: string
          format: date-time
      required: [id, email, firstName, lastName, role, createdAt]

    UpdateUserRequest:
      type: object
      properties:
        firstName:
          type: string
          minLength: 1
        lastName:
          type: string
          minLength: 1
      required: [firstName, lastName]

    # ── Organization ──────────────────────────────────────

    OrganizationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "DATEV eG"
        adminEmail:
          type: string
          format: email
        allowedDomain:
          type: string
          nullable: true
          example: "datev.de"
          description: "Domain-Whitelist (optional). Wenn gesetzt, können sich Nutzer mit dieser E-Mail-Domain selbst registrieren."
        createdAt:
          type: string
          format: date-time
      required: [id, name, adminEmail, createdAt]

    CreateOrganizationRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: "DATEV eG"
        adminEmail:
          type: string
          format: email
          description: "E-Mail des ersten Admins. Er erhält automatisch eine Einladungs-E-Mail."
      required: [name, adminEmail]

    UpdateOrganizationSettingsRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
        allowedDomain:
          type: string
          nullable: true
          description: "Domain-Whitelist setzen oder mit null entfernen"
          example: "datev.de"

    OrganizationPage:
      allOf:
        - $ref: '#/components/schemas/PageMetadata'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/OrganizationResponse'
          required: [content]

    # ── Member ────────────────────────────────────────────

    MemberResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        firstName:
          type: string
        lastName:
          type: string
        role:
          $ref: '#/components/schemas/Role'
        joinedAt:
          type: string
          format: date-time
      required: [id, email, firstName, lastName, role, joinedAt]

    UpdateMemberRoleRequest:
      type: object
      properties:
        role:
          $ref: '#/components/schemas/Role'
          description: "Erlaubte Werte: ADMIN, USER (SUPER_ADMIN nicht über diesen Endpunkt)"
      required: [role]

    MemberPage:
      allOf:
        - $ref: '#/components/schemas/PageMetadata'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/MemberResponse'
          required: [content]

    # ── Invitation ────────────────────────────────────────

    InvitationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        organizationId:
          type: string
          format: uuid
        expiresAt:
          type: string
          format: date-time
          description: "Ablaufzeitpunkt des Einladungslinks (48h nach Erstellung)"
        createdAt:
          type: string
          format: date-time
      required: [id, email, organizationId, expiresAt, createdAt]

    CreateInvitationRequest:
      type: object
      properties:
        email:
          type: string
          format: email
      required: [email]

    InvitationPage:
      allOf:
        - $ref: '#/components/schemas/PageMetadata'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/InvitationResponse'
          required: [content]

    TaskPage:
      allOf:
        - $ref: '#/components/schemas/PageMetadata'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/TaskResponse'
          required: [content]

    # ── Task ──────────────────────────────────────────────

    TaskResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/TaskStatus'
        cognitiveLoad:
          $ref: '#/components/schemas/CognitiveLoad'
        estimatedDurationMinutes:
          type: integer
          description: "Geschätzte Arbeitsdauer in Minuten"
          example: 90
        deadline:
          type: string
          format: date
          nullable: true
        startDate:
          type: string
          format: date
          nullable: true
          example: "2026-04-07"
          description: |
            Frühestes Startdatum des Tasks (optional).
            Der Planungsalgorithmus plant diesen Task **nicht vor** diesem Datum ein.
            Nützlich für Tasks, die erst ab einem bestimmten Datum relevant sind
            (z.B. „nach dem Meeting am Montag starten").
        parentTaskId:
          type: string
          format: uuid
          nullable: true
          description: "Gesetzt wenn dieser Task durch automatisches Task-Splitting entstanden ist (Ursprungs-Task-Referenz)"
        ownerId:
          type: string
          format: uuid
          description: "Aktuell immer der eingeloggte Nutzer. Vorbereitet für zukünftige Team-Features."
        organizationId:
          type: string
          format: uuid
        completedAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required: [id, title, status, cognitiveLoad, estimatedDurationMinutes, ownerId, organizationId, createdAt, updatedAt]

    CreateTaskRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
          example: "Anforderungsanalyse fertigstellen"
        description:
          type: string
          nullable: true
          maxLength: 2000
        cognitiveLoad:
          $ref: '#/components/schemas/CognitiveLoad'
        estimatedDurationMinutes:
          type: integer
          minimum: 1
          example: 90
          description: "Geschätzte Arbeitsdauer in Minuten. Bei > 480 (8h) empfiehlt das System Splitting."
        deadline:
          type: string
          format: date
          nullable: true
          example: "2026-04-30"
        startDate:
          type: string
          format: date
          nullable: true
          example: "2026-04-07"
          description: "Frühestes Startdatum (optional). Der Algorithmus plant den Task nicht vor diesem Datum ein."
      required: [title, cognitiveLoad, estimatedDurationMinutes]

    UpdateTaskRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          nullable: true
          maxLength: 2000
        cognitiveLoad:
          $ref: '#/components/schemas/CognitiveLoad'
        estimatedDurationMinutes:
          type: integer
          minimum: 1
        deadline:
          type: string
          format: date
          nullable: true
        startDate:
          type: string
          format: date
          nullable: true
          example: "2026-04-07"
          description: "Frühestes Startdatum (optional). Der Algorithmus plant den Task nicht vor diesem Datum ein."
      required: [title, cognitiveLoad, estimatedDurationMinutes]

    RecurrenceRule:
      type: object
      description: |
        Wiederholungsregel für Tasks und Pausen.

        **Aktuelles Modell (MVP):** Typ + Intervall
        Beispiele:
        - `{ "type": "DAILY", "interval": 1 }` → jeden Tag
        - `{ "type": "WEEKLY", "interval": 2 }` → alle 2 Wochen
        - `{ "type": "MONTHLY", "interval": 1 }` → jeden Monat

        **Erweiterbarkeit:** Das Modell ist so strukturiert, dass es in einer
        späteren Version um ein `rrule`-Feld (iCal RRULE-Standard) ergänzt werden
        kann, ohne bestehende Clients zu brechen.
      properties:
        type:
          $ref: '#/components/schemas/RecurrenceType'
        interval:
          type: integer
          minimum: 1
          default: 1
          description: "Alle N Einheiten wiederholen (abhängig von type)"
          example: 1
      required: [type, interval]

    # ── Working Hours ─────────────────────────────────────

    WorkingHoursResponse:
      type: object
      description: "Wöchentliche Arbeitszeit-Vorlage des Nutzers"
      properties:
        days:
          type: array
          minItems: 7
          maxItems: 7
          description: "Alle 7 Wochentage (Mo–So), jeder genau einmal"
          items:
            $ref: '#/components/schemas/WorkingHoursDayEntry'
      required: [days]

    UpsertWorkingHoursRequest:
      type: object
      properties:
        days:
          type: array
          minItems: 7
          maxItems: 7
          description: "Alle 7 Wochentage (Mo–So) müssen angegeben werden, jeder genau einmal"
          items:
            $ref: '#/components/schemas/WorkingHoursDayEntry'
      required: [days]

    WorkingHoursDayEntry:
      type: object
      description: "Arbeitszeit-Konfiguration für einen einzelnen Wochentag"
      properties:
        dayOfWeek:
          $ref: '#/components/schemas/DayOfWeek'
        isWorkDay:
          type: boolean
          description: "true = Arbeitstag mit Zeitfenster, false = arbeitsfreier Tag"
          example: true
        startTime:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example: "08:00"
          description: "Arbeitsbeginn im Format HH:mm. Pflicht wenn isWorkDay = true."
        endTime:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example: "16:00"
          description: "Arbeitsende im Format HH:mm. Pflicht wenn isWorkDay = true. Muss nach startTime liegen."
      required: [dayOfWeek, isWorkDay]

    # ── Break ─────────────────────────────────────────────

    BreakResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        label:
          type: string
          example: "Mittagspause"
        startTime:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example: "12:00"
          description: "Uhrzeit im Format HH:mm"
        endTime:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example: "13:00"
          description: "Uhrzeit im Format HH:mm"
        breakType:
          $ref: '#/components/schemas/BreakType'
        recurrence:
          $ref: '#/components/schemas/RecurrenceRule'
          nullable: true
          description: |
            Gesetzt wenn breakType = RECURRING oder BOUNDED_RECURRING.
            Null wenn breakType = ONE_TIME.
        date:
          type: string
          format: date
          nullable: true
          description: |
            Nur gesetzt wenn breakType = ONE_TIME.
            Datum des einmaligen Vorkommens.
          example: "2026-04-07"
        validFrom:
          type: string
          format: date
          nullable: true
          description: |
            Nur gesetzt wenn breakType = BOUNDED_RECURRING.
            Erster Tag, an dem die Pause gilt (inklusiv).
          example: "2026-04-07"
        validUntil:
          type: string
          format: date
          nullable: true
          description: |
            Nur gesetzt wenn breakType = BOUNDED_RECURRING.
            Letzter Tag, an dem die Pause gilt (inklusiv).
          example: "2026-04-10"
      required: [ id, label, startTime, endTime, breakType ]

    CreateBreakRequest:
      type: object
      description: |
        Drei Typen über `breakType` steuerbar:
        - `ONE_TIME`: einmalige Pause. `date` ist Pflicht, `recurrence`/`validFrom`/`validUntil` müssen null sein.
        - `RECURRING`: unbegrenzt wiederkehrende Pause. `recurrence` ist Pflicht, alle Datumsfelder null.
        - `BOUNDED_RECURRING`: wiederkehrende Pause in einem Zeitraum. `recurrence`, `validFrom`
          und `validUntil` sind Pflicht. `validFrom` muss vor oder gleich `validUntil` liegen.
      properties:
        label:
          type: string
          minLength: 1
          example: "Mittagspause"
        startTime:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example: "12:00"
        endTime:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example: "13:00"
        breakType:
          $ref: '#/components/schemas/BreakType'
        recurrence:
          $ref: '#/components/schemas/RecurrenceRule'
          nullable: true
          description: "Pflicht bei RECURRING und BOUNDED_RECURRING. Null bei ONE_TIME."
        date:
          type: string
          format: date
          nullable: true
          description: "Pflicht bei ONE_TIME. Null bei RECURRING und BOUNDED_RECURRING."
          example: "2026-04-07"
        validFrom:
          type: string
          format: date
          nullable: true
          description: "Pflicht bei BOUNDED_RECURRING. Null bei ONE_TIME und RECURRING."
          example: "2026-04-07"
        validUntil:
          type: string
          format: date
          nullable: true
          description: "Pflicht bei BOUNDED_RECURRING. Muss >= validFrom sein."
          example: "2026-04-10"
      required: [ label, startTime, endTime, breakType ]

    BreakType:
      type: string
      enum: [ ONE_TIME, RECURRING, BOUNDED_RECURRING ]
      description: |
        Typ der Pause:
        - `ONE_TIME`: einmalige Pause an einem konkreten Datum (`date`-Feld).
        - `RECURRING`: unbegrenzt wiederkehrende Pause nach Recurrence-Regel –
          gilt für immer, solange sie nicht gelöscht wird.
        - `BOUNDED_RECURRING`: wiederkehrende Pause, die nur im Zeitraum
          [`validFrom`, `validUntil`] gilt. Außerhalb dieses Zeitraums
          wird die Pause vom Algorithmus ignoriert.

    # ── Schedule ──────────────────────────────────────────

    ScheduleResponse:
      type: object
      properties:
        generatedAt:
          type: string
          format: date-time
          description: "Zeitstempel der letzten Plan-Generierung"
        from:
          type: string
          format: date
        to:
          type: string
          format: date
          description: "Letzter tatsächlich eingeplanter Tag. Wird dynamisch vom Algorithmus bestimmt."
        totalWorkMinutes:
          type: integer
          description: "Summe aller eingeplanten Arbeitsminuten im Zeitraum"
        warnings:
          type: array
          description: |
            Warnungen des Planungsalgorithmus. Leer wenn kein Problem erkannt wurde.
            Mögliche Einträge:
            - `"deadline-missed:uuid"` – Einmaliger Task konnte vor seiner Deadline
              nicht vollständig eingeplant werden. Das verfügbare Tagesbudget
              (nach Abzug von RecurringTemplates, Pausen und Pinned/Completed Entries)
              reichte nicht aus, um den Task rechtzeitig zu platzieren.
          items:
            type: string
          example:
            - "deadline-missed:3fa85f64-5717-4562-b3fc-2c963f66afa6"
        entries:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleEntry'
      required: [generatedAt, from, to, totalWorkMinutes, warnings, entries]

    ScheduleEntry:
      type: object
      description: |
        Ein Zeitblock im Kalender. Kann ein echter DB-Eintrag (`source: ONE_TIME`)
        oder ein virtuell berechnetes Vorkommen eines RecurringTemplate (`source: RECURRING`) sein.
        Das `source`-Feld bestimmt, welche Felder gesetzt sind und welche Endpunkte
        das Frontend für Aktionen aufrufen muss.
      properties:
        source:
          type: string
          enum: [ONE_TIME, RECURRING]
          description: |
            Diskriminator-Feld.
            - `ONE_TIME`: echter ScheduleEntry in der DB. `entryId` ist gesetzt.
              Aktionen über `PATCH /schedule/{entryId}/complete|pin|unpin`.
            - `RECURRING`: virtuelles Vorkommen, on-the-fly berechnet. `templateId`
              und `occurrenceDate` sind gesetzt.
              Aktionen über `POST /schedule/recurring/{templateId}/exceptions`.
        entryId:
          type: string
          format: uuid
          nullable: true
          description: |
            Nur gesetzt wenn `source = ONE_TIME`.
            Wird für `PATCH /schedule/{entryId}/complete`, `/pin` und `/unpin` benötigt.
        templateId:
          type: string
          format: uuid
          nullable: true
          description: |
            Nur gesetzt wenn `source = RECURRING`.
            Wird für `POST /schedule/recurring/{templateId}/exceptions` benötigt.
        occurrenceDate:
          type: string
          format: date
          nullable: true
          description: |
            Nur gesetzt wenn `source = RECURRING`.
            Identifiziert das konkrete Vorkommen für RecurringException-Operationen.
          example: "2026-04-07"
        date:
          type: string
          format: date
          description: "Datum des Eintrags (bei RESCHEDULED das neue Datum)"
          example: "2026-04-07"
        startTime:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example: "09:00"
        endTime:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example: "10:30"
        type:
          type: string
          enum: [TASK, BREAK]
        isCompleted:
          type: boolean
          default: false
          description: |
            Gibt an, ob dieser Block abgehakt wurde.
            - `ONE_TIME`: gesetzt via `PATCH /schedule/{entryId}/complete`
            - `RECURRING`: gesetzt via `POST /schedule/recurring/{templateId}/exceptions`
              mit `type: COMPLETED`
        isPinned:
          type: boolean
          default: false
          description: |
            Gibt an, ob dieser Block fixiert wurde.
            - `ONE_TIME`: gesetzt via `PATCH /schedule/{entryId}/pin`
            - `RECURRING`: gesetzt via `POST /schedule/recurring/{templateId}/exceptions`
              mit `type: PINNED`
        taskId:
          type: string
          format: uuid
          nullable: true
          description: "Gesetzt wenn type = TASK"
        taskTitle:
          type: string
          nullable: true
          description: "Gesetzt wenn type = TASK (Convenience-Feld)"
        breakId:
          type: string
          format: uuid
          nullable: true
          description: "Gesetzt wenn type = BREAK (nur bei source = ONE_TIME)"
        breakLabel:
          type: string
          nullable: true
          description: "Gesetzt wenn type = BREAK (Convenience-Feld)"
        templateTitle:
          type: string
          nullable: true
          description: "Nur gesetzt wenn source = RECURRING (Convenience-Feld)"
      required: [source, date, startTime, endTime, type, isCompleted, isPinned]

    GenerateScheduleRequest:
      type: object
      properties:
        from:
          type: string
          format: date
          description: |
            Startdatum der Planung (ISO 8601). Der Algorithmus plant ab diesem Datum
            so viele Tage wie nötig, bis alle einmaligen Tasks eingeplant sind.
            Das Enddatum ergibt sich dynamisch aus der Response (`to`-Feld).
            Empfehlung: Montag, damit vollständige Wochen geplant werden.
          example: "2026-04-07"
        maxDailyWorkMinutes:
          type: integer
          default: 240
          minimum: 30
          maximum: 480
          description: |
            Maximale kognitive Arbeitszeit pro Tag in Minuten (Default: 240 = 4h).
            RecurringTemplate-Dauer wird zusätzlich abgezogen – das effektive
            Budget für einmalige Tasks kann also kleiner sein.
          example: 240
      required: [from]

    # ── Recurring Templates ───────────────────────────────────

    RecurringTemplateResponse:
      type: object
      description: "Eine wiederkehrende Aufgaben-Vorlage. Vorkommen werden on-the-fly berechnet und nie persistiert."
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          example: "Daily Stand-up"
        description:
          type: string
          nullable: true
        cognitiveLoad:
          $ref: '#/components/schemas/CognitiveLoad'
        durationMinutes:
          type: integer
          description: "Dauer eines Vorkommens in Minuten"
          example: 15
        recurrenceRule:
          $ref: '#/components/schemas/RecurrenceRule'
        preferredStartTime:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          nullable: true
          description: "Bevorzugte Startzeit (optional). Wird von GET /schedule für die Zeitdarstellung genutzt."
          example: "09:00"
        ownerId:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required: [id, title, cognitiveLoad, durationMinutes, recurrenceRule, ownerId, organizationId, createdAt, updatedAt]

    CreateRecurringTemplateRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
          example: "Daily Stand-up"
        description:
          type: string
          nullable: true
          maxLength: 2000
        cognitiveLoad:
          $ref: '#/components/schemas/CognitiveLoad'
        durationMinutes:
          type: integer
          minimum: 1
          example: 15
          description: "Dauer eines Vorkommens in Minuten"
        recurrenceRule:
          $ref: '#/components/schemas/RecurrenceRule'
        preferredStartTime:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          nullable: true
          description: "Bevorzugte Startzeit (optional)"
          example: "09:00"
      required: [title, cognitiveLoad, durationMinutes, recurrenceRule]

    UpdateRecurringTemplateRequest:
      type: object
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 255
        description:
          type: string
          nullable: true
          maxLength: 2000
        cognitiveLoad:
          $ref: '#/components/schemas/CognitiveLoad'
        durationMinutes:
          type: integer
          minimum: 1
        recurrenceRule:
          $ref: '#/components/schemas/RecurrenceRule'
        preferredStartTime:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          nullable: true
      required: [title, cognitiveLoad, durationMinutes, recurrenceRule]

    RecurringTemplatePage:
      allOf:
        - $ref: '#/components/schemas/PageMetadata'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/RecurringTemplateResponse'
          required: [content]

    # ── Recurring Schedule Exceptions ────────────────────────

    RecurringExceptionRequest:
      type: object
      properties:
        occurrenceDate:
          type: string
          format: date
          description: "Datum des konkreten Vorkommens, für das die Ausnahme gilt"
          example: "2026-04-07"
        type:
          $ref: '#/components/schemas/RecurringExceptionType'
        newDate:
          type: string
          format: date
          nullable: true
          description: "Nur bei type = RESCHEDULED: neues Datum des Vorkommens"
          example: "2026-04-08"
        newStartTime:
          type: string
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          nullable: true
          description: "Nur bei type = RESCHEDULED: neue Startzeit"
          example: "10:00"
      required: [occurrenceDate, type]

    RecurringExceptionResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        templateId:
          type: string
          format: uuid
        occurrenceDate:
          type: string
          format: date
          example: "2026-04-07"
        type:
          $ref: '#/components/schemas/RecurringExceptionType'
        newDate:
          type: string
          format: date
          nullable: true
        newStartTime:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
      required: [id, templateId, occurrenceDate, type, createdAt]

    RecurringExceptionType:
      type: string
      enum: [COMPLETED, PINNED, SKIPPED, RESCHEDULED]
      description: |
        Art der Ausnahme für ein RecurringTemplate-Vorkommen:
        - `COMPLETED`: Vorkommen abgehakt. Bleibt als Budgetabzug erhalten.
        - `PINNED`: Vorkommen fixiert. Erscheint mit `isPinned: true`.
        - `SKIPPED`: Vorkommen übersprungen. Kein Budgetabzug beim Algorithmus.
        - `RESCHEDULED`: Vorkommen verschoben auf `newDate`/`newStartTime`.
          Budgetabzug bleibt am ursprünglichen Tag erhalten.

    # ── Super-Admin ───────────────────────────────────────

    AddSuperAdminRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          description: "E-Mail-Adresse der einzuladenden Person. Es wird eine Einladungs-E-Mail verschickt – kein bestehender Account erforderlich."
      required: [email]

    SuperAdminInvitationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        expiresAt:
          type: string
          format: date-time
          description: "Ablaufzeitpunkt des Einladungslinks (48h nach Erstellung)"
        createdAt:
          type: string
          format: date-time
      required: [id, email, expiresAt, createdAt]

    SuperAdminPage:
      allOf:
        - $ref: '#/components/schemas/PageMetadata'
        - type: object
          properties:
            content:
              type: array
              items:
                $ref: '#/components/schemas/UserResponse'
          required: [content]

    # ── Pagination ────────────────────────────────────────

    PageMetadata:
      type: object
      description: "Paginierungsmetadaten, enthalten in allen paginierten Antworten"
      properties:
        page:
          type: integer
          description: "Aktuelle Seitennummer (0-basiert)"
          example: 0
        size:
          type: integer
          description: "Einträge pro Seite"
          example: 20
        totalElements:
          type: integer
          description: "Gesamtanzahl aller Einträge"
          example: 42
        totalPages:
          type: integer
          description: "Gesamtanzahl der Seiten"
          example: 3
      required: [page, size, totalElements, totalPages]

    # ── Enums ─────────────────────────────────────────────

    Role:
      type: string
      enum: [SUPER_ADMIN, ADMIN, USER]
      description: |
        Nutzerrollen (RBAC):
        - `SUPER_ADMIN`: Plattformweite Verwaltung (Organisationen erstellen/löschen, Super-Admins ernennen)
        - `ADMIN`: Verwaltung der eigenen Organisation (Mitglieder, Einladungen, Einstellungen)
        - `USER`: Standard-Nutzer (eigene Tasks und Planung)

    TaskStatus:
      type: string
      enum: [OPEN, IN_PROGRESS, DONE]
      description: |
        Status eines Tasks:
        - `OPEN`: Noch nicht begonnen
        - `IN_PROGRESS`: Wird gerade bearbeitet
        - `DONE`: Abgeschlossen (setzt `completedAt`)

    CognitiveLoad:
      type: string
      enum: [LOW, MEDIUM, HIGH]
      description: |
        Kognitive Belastung der Aufgabe (aus Anforderungsdokument: "Wie fordernd ist die Aufgabe?"):
        - `LOW`: Routine / stupide Aufgabe (z.B. E-Mails sortieren)
        - `MEDIUM`: Normaler Arbeitsaufwand
        - `HIGH`: Höchste Konzentration erforderlich (z.B. komplexe Analyse)

        Der Planungsalgorithmus nutzt dieses Feld um `HIGH`-Tasks bevorzugt in
        produktive Morgenstunden einzuplanen.

    RecurrenceType:
      type: string
      enum: [DAILY, WEEKLY, MONTHLY]
      description: |
        Wiederholungstyp (MVP-Modell, erweiterbar zu RRULE):
        - `DAILY`: Täglich (z.B. E-Mails checken)
        - `WEEKLY`: Wöchentlich
        - `MONTHLY`: Monatlich

    DayOfWeek:
      type: string
      enum: [MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY, SUNDAY]
      description: |
        ISO-8601-Wochentag:
        - `MONDAY` bis `FRIDAY`: Werktage
        - `SATURDAY`, `SUNDAY`: Wochenende